<h1>Collections</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
      <th scope="col">Author</th>
    </tr>
  </thead>
  <tbody>
    <% Collection.find_each do |collection| %>
      <tr>
        <th scope="row"><%= collection.id %></th>
        <td><%= collection.name %></td>
        <td><%= collection.description %></td>
        <td><%= collection.category %></td>
        <td><%= collection.user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>