<h1>Hello</h1>

<%= render 'collections/form' %>
<br>
<% Collection.find_each do |collection| %>
  <h3><%= collection.name %></h3>
  <p><%= collection.description %></p>
  <h4><%= collection.category %></h4>
  <h4><%= collection.user.email %></h4>
<% end %>
