<h1>Hello</h1>

<% if user_signed_in? %>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete, data: {turbo_method: :delete} %>
  <%= link_to 'Edit registration', edit_user_registration_path %>
<% elsif !admin_signed_in? %>
  <%= link_to 'Sign up', new_user_registration_path %>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %> </br>

<h3>Admin links</h3>

<% if admin_signed_in? %>
  <h3>Admin links</h3>
  <%= link_to 'Sign out', destroy_admin_session_path, method: :delete, data: {turbo_method: :delete} %>
  <%= link_to 'Edit registration', edit_admin_registration_path %>
<% elsif !user_signed_in? %>
  <%= link_to 'Sign up', new_admin_registration_path %>
  <%= link_to 'Sign in', new_admin_session_path %>
<% end %>

<h3>Page liks</h3>
<%= link_to 'Home', root_path %>
<%= link_to 'Users path', pages_users_path %>
<%= link_to 'Admin path', pages_admin_path %>